.auth body {
  color: white;
  font-family: Arial, sans-serif;
}

.main-form {
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.main-form input {
  border-radius: 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: #0000aa;
}

.auth button {
  background-color: #0000aa;
  color: white;
  width: 100%;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
